In [1]:
import pandas as pd
import datetime
from datetime import timedelta, date
import requests
from bisect import insort_right
import psycopg2
from psycopg2.extensions import register_adapter, AsIs

import duckdb

In [2]:
duckdb_token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6Im1haWNoaWtodW9uZzE5OThAZ21haWwuY29tIiwic2Vzc2lvbiI6Im1haWNoaWtodW9uZzE5OTguZ21haWwuY29tIiwicGF0IjoiUHRibTlLVnRuQlZrVDJUVEx1RnQycjY2NEF1SW9QalFESUVweWEwWFA1RSIsInVzZXJJZCI6IjJiOTgzYTE2LWNkZjMtNDg4NC04NWQ2LWU3OGNmMmFjMzIwOSIsImlzcyI6Im1kX3BhdCIsInJlYWRPbmx5IjpmYWxzZSwidG9rZW5UeXBlIjoicmVhZF93cml0ZSIsImlhdCI6MTc1NDc1NjQ5OCwiZXhwIjoxNzg2MjkyNDk4fQ.N9N5OPwrMq7jhUYubONUlJRVq1enUVa9PGKVYWd8_ps"
conn = duckdb.connect(f"md:my_db?motherduck_token={duckdb_token}")

cur = conn.cursor()

In [3]:
def test_case(data, table_name, conn):
    if table_name == 'EXCHANG_RATE':
        old_data = pd.read_sql(f"""SELECT DISTINCT Date FROM {table_name}""", conn)
        list_old_data = list(old_data['date'])
        data = data[~data['Date'].isin(list_old_data)]
    elif table_name == 'GOLD_PRICE':
        old_data = pd.read_sql(f"""SELECT DISTINCT Date FROM {table_name}""", conn)
        list_old_data = list(old_data['date'])
        data = data[~data['Date'].isin(list_old_data)]
    return data

In [4]:
class ExecuteUtils:
    @staticmethod
    def execute_query(input_query):
        try:
            cur.execute(input_query)
            conn.commit()
            print('Execute query successfully!')
        except Exception as e:
            # conn.rollback()
            print('Error occured:', e)

    @staticmethod
    def insert_data(input_query, data, table_name):
        data = test_case(data, table_name, conn)
        list_data = [tuple(row) for row in data.itertuples(index=False)]
        try:
            for record in list_data:
                cur.execute(input_query, record)
            conn.commit()
            print('Execute query successfully!')
        except Exception as e:
            # conn.rollback()
            print('Error occured:', e)

    @staticmethod
    def fetch_data(input_query):
        try:
            df = pd.read_sql(input_query, conn )
        except Exception as e:
            conn.rollback()
            print('Error occured:', e)

        return df

In [ ]:
# yield tiết kiệm bộ nhớ hơn return
def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + timedelta(n)


# crawling data
def _crawling_tonghop(start_date, end_date):
    df = pd.DataFrame()
    for single_date in daterange(start_date, end_date):
        dfs = pd.read_html(f'https://www.xe.com/currencytables/?from=USD&date={single_date.strftime("%Y-%m-%d")}')[0]
        dfs['Date'] = single_date.strftime("%Y-%m-%d")
        # df = df.append(dfs)
        df = pd.concat([dfs, df])

    #print(df['Currency'].unique())  # Xem danh sách các giá trị có trong cột 'Currency'
    #print(df.shape)  # Kiểm tra số dòng, số cột
    #print(df.columns)

    df.columns = ['Currency', 'Name', 'Units per VND', 'VND per Unit', 'Date']

    # df.rename(columns={
    #     'Units per USD': 'Units per VND',
    #     'USD per unit': 'VND per Unit'
    # }, inplace=True)


    df_vnd= df[df['Currency']=='VND']
    # df_vnd.style.format({
    #     'Units per VND': '{:,.2f}'.format,
    #     'VND per unit': '{:,.2f}'.format
    # })

    df_vnd[['Units per VND', 'VND per Unit']] = df_vnd[['Units per VND', 'VND per Unit']].applymap(lambda x: f"{x:,.7f}")


    # print(tabulate(df_vnd, headers='keys', tablefmt='psql'))
    return df_vnd

In [6]:
_input_create_exchange_rate_query = f"""

CREATE TABLE IF NOT EXISTS EXCHANGE_RATE (
                                Currency varchar(30) NOT NULL,
                                Name	 varchar(40) NOT NULL,
                                Units_per_VND varchar(40) NOT NULL,
                                VND_per_Unit varchar(40) NOT NULL,
                                Date varchar(40) NOT NULL
                                )

"""
ExecuteUtils.execute_query(_input_create_exchange_rate_query)

Execute query successfully!

In [11]:
start_date_exchange_rate = date(2025,8,1)
end_date_exchange_rate = date(2025,8,8)
df_vnd = _crawling_tonghop(start_date_exchange_rate, end_date_exchange_rate)
df_vnd

C:\Users\Admin\AppData\Local\Temp\ipykernel_32192\2889885843.py:34: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_vnd[['Units per VND', 'VND per Unit']] = df_vnd[['Units per VND', 'VND per Unit']].applymap(lambda x: f"{x:,.7f}")
C:\Users\Admin\AppData\Local\Temp\ipykernel_32192\2889885843.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vnd[['Units per VND', 'VND per Unit']] = df_vnd[['Units per VND', 'VND per Unit']].applymap(lambda x: f"{x:,.7f}")

   Currency             Name   Units per VND VND per Unit        Date
43      VND  Vietnamese Dong  26,219.9248810    0.0000381  2025-08-07
43      VND  Vietnamese Dong  26,187.9240920    0.0000382  2025-08-06
43      VND  Vietnamese Dong  26,187.4765738    0.0000382  2025-08-05
43      VND  Vietnamese Dong  26,198.2097564    0.0000382  2025-08-04
43      VND  Vietnamese Dong  26,207.5293203    0.0000382  2025-08-03
43      VND  Vietnamese Dong  26,195.4015601    0.0000382  2025-08-02
43      VND  Vietnamese Dong  26,231.2647301    0.0000381  2025-08-01

In [12]:
insert_data_exchange_rate_script = f"""INSERT INTO EXCHANGE_RATE(Currency, Name, Units_per_VND, VND_per_Unit, Date)
                                        VALUES (?, ?, ?, ?, ?)
                        """
ExecuteUtils.insert_data(insert_data_exchange_rate_script, df_vnd, 'EXCHANGE_RATE')

Execute query successfully!

In [ ]:
C/C++, Java, Javascript, Python => Programming Language

Editor, IDE

SQL => Truy vấn dữ liệu 

Database = Hệ quản trị cơ sở dữ liệu => có rất nhiều loại database để chứa dữ liệu => microsoft sql server, postgres, mysql

Editor, IDE => cài azure studio