In [14]:
import warnings
warnings.filterwarnings('ignore')
import os
import sys


import pandas as pd
import numpy as np
import duckdb
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, StandardScaler, FunctionTransformer
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import r2_score, mean_absolute_percentage_error, mean_absolute_error
from xgboost import XGBRegressor

import pickle
import joblib

In [15]:
sys.path.append('../../..')
from connection_params import *

conn = duckdb.connect(f"md:my_db?motherduck_token={duckdb_token}")
cur = conn.cursor()

In [16]:
_input_query = f"""

select *
from my_db.main.BINANCE
order by timestamp desc

"""

df = pd.read_sql(_input_query, conn)
print(df.shape)
print(df.info())
df.head()

(500, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Pair_ID    500 non-null    object
 1   Timestamp  500 non-null    object
 2   Open       500 non-null    float64
 3   High       500 non-null    float64
 4   Low        500 non-null    float64
 5   Close      500 non-null    float64
 6   Volume     500 non-null    float64
dtypes: float64(5), object(2)
memory usage: 27.5+ KB
None

,Pair_ID,Timestamp,Open,High,Low,Close,Volume
0,NEAR/USDT,2022-02-25 07:00:00+07:00,8.489,9.049,8.228,8.935,7865253.5
1,NEAR/USDT,2022-02-24 07:00:00+07:00,8.558,8.824,7.385,8.488,17816580.0
2,NEAR/USDT,2022-02-23 07:00:00+07:00,8.959,9.448,8.525,8.556,6861524.5
3,NEAR/USDT,2022-02-22 07:00:00+07:00,8.547,9.024,8.205,8.965,7822610.0
4,NEAR/USDT,2022-02-21 07:00:00+07:00,9.294,9.846,8.494,8.545,8819900.0

In [18]:
print(df.Timestamp.min())
print(df.Timestamp.max())

2020-10-14 07:00:00+07:00
2022-02-25 07:00:00+07:00